<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="SonarAnalyzer.CSharp" version="8.35.0.42613" targetFramework="net472" developmentDependency="true" />
  <package id="StructureMap" version="4.7.1" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net472" />
</packages>